@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.navlink,a,.contactbtn{
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: black;
	text-decoration: none;
}

header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 10%;
}

.logo {
	cursor: pointer;
}

.nav_links {
	list-style: none;
	cursor: pointer;
}

.nav_links .navlink {
	display: inline-block;
	padding: 0px 20px;
}

.nav_links .navlink a {
	transition: all 0.3s ease 0s;
}

.nav_links .navlink a:hover {
	color: #0088a9;
}

.contactbtn {
	padding: 9px 25px;
	background-color: rgba(0,136,169,1);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

.contactbtn:hover {
	background-color: rgba(0,136,169,0.8);
}
